@import '../../media-query';

.Company-card {
  width: 100%;
  // max-width: 480px;
  max-width: 560px;

  margin: 16px 0px;
  padding: 16px 16px 20px;
  border-top: 4px solid rgb(103, 169, 255);
  box-sizing: border-box;

  @include pc {
    margin: 24px 8px;
    padding: 16px 24px 20px;
  }

  box-shadow: unquote('0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%)');

  &-title {
    display: block;
    font-size: 24px;
    font-weight: bold;
  }
  &-id {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: rgba(0,0,0,.64);
  }

  &-tips-wrapper {
    list-style: none;
    padding: 0;
    margin: 12px 0 0;
  }
  
  &-tips {
    display: flex;
    align-items: center;
    margin: 12px 4px;
  
    &:last-child {
      margin-bottom: 0;
    }
  
    &-icon {
      display: flex;
      margin-right: 8px;
    }
  
    &-text {
      display: inline;
      font-size: 16px;
    }
  }
}