.Company-card {
  display: flex;
  flex-wrap: wrap;

  width: 88%;
  max-width: 800px;

  margin: 24px auto;
  padding: 36px;
  box-sizing: border-box;

  box-shadow: unquote('0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%)');

  &-img-wrapper {
    background-color: aqua; // 仮
    height: 100%;
    // height: 
  }
  // &-img {
  // }

  // &-body {
    
  // }

  &-title {
    font-size: 20px;
    font-weight: 600;

    display: block;
  }

  &-tips-wrapper {
    list-style: none;
    padding-left: 0;
    margin: 8px 0;
  }

  &-desc {
    margin: 0 8px;
  }

}