.Root-header {
  position: fixed;
  width: 100%;

  &-nav {
    display: flex;
    justify-content: space-between;

    &-anchors {
      padding: 8px;
    }
    &-anchor {
      font-size: 14px;
      padding: 8px 16px;
      box-sizing: border-box;
    }
  }
}

.Root-main {
  &-top {
    background-color: #c0dbff;
    height: 560px;
  }
}