@use './FakeSession';
@use './media-query' as *;

#root, .App {
  height: 100%
}

.Root-main {
  height: 100%;

  &-top {
    background-color: #c0dbff;
    height: 80%;

    @include pc {
      height: 560px;
    }
  }
}