@use './app-theme' as ml;

@include ml.core();
@include ml.themes();

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  color: rgba(0,0,0,.87);
  background-color: #fafafa;
  overflow-y: scroll;
  font-family: 'Noto Sans JP', sans-serif;
}

svg {
  fill: currentColor;
}

.inner-anchor {
  height: 100%;
  width: 100%;
}

input, textarea {
  font: inherit;
  color: currentColor;
  background-color: transparent;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  outline: none;
  vertical-align: bottom;
}
